<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Guest AOP DAO -->
	<bean id="guestOraDAO" class="han.juser.dao.ibatis.GuestOraDAO" >
		<!-- 
		<property name="sqlResource">
			<value>han.juser.dao.core.GuestSQL</value>
		</property>
	 	-->
		<property name="dataSource" ref="dataSource" />
		<property name="sqlMapClient" ref="juserSqlMapClient" />
		<property name="namespace" >
			<value>Guest</value>
		</property>
	</bean>
	
	<!-- Guest Service -->
	<bean id="guestServiceTarget" class="han.juser.service.imple.GuestServiceImple">
		<property name="guestDAO" ref="guestOraDAO" />
		<property name="limit">
			<value>5</value>
		</property>
	</bean>
	
	<bean id="guestService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="guestServiceTarget"/>
		<property name="preInterceptors">
			<list>
				<ref bean="serviceLoggerAdvice"/>
				<ref bean="serviceExceptionLoggerAdvice"/>
			</list>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
		
		
		
	<bean id="guestManager" class="han.juser.controller.manager.GuestManager" lazy-init="false" >
		<property name="roleManager" ref="role" />
		<property name="loginHandler" ref="loginHandler" />
		<property name="service" ref="guestService" />
	</bean>
		
	<!-- 
	<bean id="guestManager" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="guestManagerTarget" />
		<property name="interceptorNames">
			<list>
				<value>serviceLoggerAdvice</value>
				<value>serviceExceptionLoggerAdvice</value>
			</list>
		</property>
	</bean>
	-->
</beans>