<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


	<!-- Member AOP DAO -->
	<bean id="memberOraDAO" class="han.juser.dao.ibatis.MemberOraDAO">
		<property name="dataSource" ref="dataSource" />
		<property name="sqlMapClient" ref="juserSqlMapClient" />
		<property name="namespace" >
			<value>Member</value>
		</property>
	</bean>
	
	<!-- Member Service -->
	<bean id="memberServiceTarget" class="han.juser.service.imple.MemberServiceImple">
		<property name="memberDAO" ref="memberOraDAO" />
		<property name="limit">
			<value>13</value>
		</property>
	</bean>

 
 	<bean id="memberService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="memberServiceTarget"/>
		<property name="preInterceptors">
			<list>
				<ref bean="serviceLoggerAdvice"/>
				<ref bean="serviceExceptionLoggerAdvice"/>
			</list>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
 

	<bean id="memberManager" class="han.juser.controller.manager.MemberManager" >
		<property name="roleManager" ref="role" />
		<property name="loginHandler" ref="loginHandler" />
		<property name="service" ref="memberService"/>
	</bean>

</beans>