<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="visitorOraDAO" class="han.juser.dao.ibatis.VisitorOraDAO" >
		<property name="dataSource" ref="dataSource" />
		<property name="sqlMapClient" ref="juserSqlMapClient" />
		<property name="namespace" >
			<value>Visitor</value>
		</property>
	</bean>
	
	<bean id="visitorService" class="han.juser.service.imple.VisitorServiceImple">
		<property name="visitorDAO" ref="visitorOraDAO" />
	</bean>
	
	
	<bean id="visitorManager" class="han.juser.controller.manager.VisitorManager" >
		<property name="service" ref="visitorService" />
	</bean>
	
	
</beans>
